@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> _userManager
@{
    var email = "";
    var user = await _userManager.GetUserAsync(User);
    if (user != null)
    {
        email = user.Email;
    }
}

<!-- Left Navigation Start -->
<aside class="main-header">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-heading">
                Hello @email
            </li>
            <li class="nav-item @Html.IsSelected(controller: Pages.Todo.ControllerName)Route">
                <a class="nav-link waves-effect" title="@Pages.Todo.NavigationName" href="@Pages.Todo.UrlDefault">
                    <i class="mdi mdi-check-circle md-18 mr-2"></i>
                    <span class="menu-title">@Pages.Todo.NavigationName</span>
                </a>
            </li>
            <li class="nav-item @Html.IsSelected(controller: Pages.Membership.ControllerName)Route">
                <a class="nav-link waves-effect" title="@Pages.Membership.NavigationName" href="@Pages.Membership.UrlDefault">
                    <i class="mdi mdi-certificate md-18 mr-2"></i>
                    <span class="menu-title">@Pages.Membership.NavigationName</span>
                </a>
            </li>
            <li class="nav-item @Html.IsSelected(controller: Pages.Role.ControllerName)Route">
                <a class="nav-link waves-effect" title="@Pages.Role.NavigationName" href="@Pages.Role.UrlDefault">
                    <i class="mdi mdi-door-open md-18 mr-2"></i>
                    <span class="menu-title">@Pages.Role.NavigationName</span>
                </a>
            </li>

        </ul>
    </nav>
</aside>
<!-- Left Navigation End -->